<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Error</h1>
        <p>This isn't a valid Amazon PPC Report.</p>
        <button class="btn btn-primary btn-sm pull-right" onclick="window.history.back();">Back</back>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>