<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

<header>

</header>

<main>
    <div class="jumbotron">
			<h1>Update incorporation status</h1>
			
		<% incorporation.forEach(function(inc) { %>
				<div>
					<select id="stats-list">
						<option value="<%= inc.status %>"><%= inc.status %></option>
						<% if (inc.status != "Application Submitted") { %>
							<option value="Application Submitted">Application Submitted</option>
						<% } %>
						<% if (inc.status != "Payment Accepted") { %>
							<option value="Payment Accepted">Payment Accepted</option>
						<% } %>
						<% if (inc.status != "We are reviewing your application") { %>
							<option value="We are reviewing your application">We are reviewing your application</option>
						<% } %>
					</select>
					<button onclick="updateStatus('<%= inc.uuid %>')">Update</button>
				</div>
		<% }); %>
			</table>
    </div>
</main>

<footer>

</footer>

</body>
</html>